body {
	background: #990000; 
	
}

img {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 4em; 
	margin-bottom: 1em; 
	width: 34%;
}

#message {
	font: 2em calibri, serif;
	text-align: center; 
	color: #FFC72C;
	margin: auto;
  	width: 400px;
}

#message:hover span {
	display: none; 
}

#message:hover:before {
	content: "Nobody gets through the band."; 
}

#infoBox {
	display: block; 
	margin: auto; 
	margin-top: 2em; 
	width: 85em;
	height: 45em; 
	border: 2px solid #FFC72C; 
	border-radius: 20px;
	
}

#vert {
	background: #FFC72C; 
	border: none; 
	height: 36em;  
	position: absolute; 
	top: 9.5em; 
	left: 50%; 
}

#horiz {
	background: #FFC72C; 
	border: 0.25px solid #FFC72C;
	width: 85em; 
	position: absolute; 
	top: 5em;
	left: 2.5em;  
}

#horiz2 {
	background: #FFC72C; 
	border: 0.25px solid #FFC72C;
	width: 85em; 
	position: absolute; 
	top: 8.5em;
	left: 2.5em;  
}

.button {
	border: 1px solid #FFC72C; 
	background: #990000; 
	border-radius: 2px; 
	font-weight: lighter; 
	font-size: 1.8em; 
	color: #FFC72C;
	position: absolute; 
	top: 1.5em; 
}	

	.button:hover {
		background: #FFC72C; 
		color: #990000; 
	}

#signOutButton {
	left: 43em; 
}

#saveButton {
	left: 3em; 
}

#searchButton {
	left: 6em; 
}

#clearButton {
	left: 9.9em; 
}

#inventoryButton {
	left: 16.6em; 
}

#mailMergeButton {
	left: 21.3em; 
}

#copyButton {
	left: 26.8em; 
}

.info {
	font-size: 1.8em; 
	color: #FFC72C;
	position: absolute; 
}

#lastName {
	top: 3.5em; 
	left: 2em; 
}

#firstName {
	top: 3.5em; 
	left: 12em; 
}

#class {
	top: 3.5em; 
	left: 23em; 
}

#email {
	top: 3.5em; 
	left: 34em; 
}

#id {
	top: 26.5em; 
	left: 34em; 
}

#instrument {
	top: 5.5em; 
	left: 26em; 
}

#model {
	top: 7em; 
	left: 26em; 
}

#number {
	top: 8.5em; 
	left: 26em; 
}

#locker {
	top: 10em; 
	left: 26em
}

#combo {
	top: 11.5em; 
	left: 26em; 
}

#eqnotes {
	top: 14.5em; 
	left: 26em; 
}

#jacket {
	top: 5.5em; 
	left: 2em; 
}

#cape {
	top: 7em; 
	left: 2em; 
}

#pants {
	top: 8.5em; 
	left: 2em; 
}

#hanger {
	top: 10em; 
	left: 2em; 
}

#helmet {
	top: 11.5em; 
	left: 2em; 
}

#uninotes {
	top: 14.5em; 
	left: 2em; 
}

#deposit {
	top: 26.5em; 
	left: 2em; 
}

#term {
	position: absolute; 
	top: 26.5em; 
	left: 19em; 
}

#termSelect {
	font: 1em calibri; 
	color: #FFC72C; 
	background: #990000; 
	width: 7em; 
}

#status {
	top: 5.5em; 
	left: 14em; 
}

input {
	font: 1em calibri; 
	color: #FFC72C; 
	background: #990000; 
	width: 7em;
}

textarea {
	font: 1em calibri; 
	color: #FFC72C; 
	background: #990000; 
	width: 7em; 
	
}

#emailIn {
	width: 10em; 
}

#uniNotesIn {
	position: fixed; 
	top: 16em; 
	width: 22em; 
	height: 8em; 
}

#EQNotesIn {
	position: fixed; 
	top: 16em; 
	width: 22em; 
	height: 8em; 
}