body {
	background: #990000; 
	
}

img {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 4em; 
	margin-bottom: 1em; 
	width: 34%;
}

#message {
	font: 2em calibri, serif;
	text-align: center; 
	color: #FFC72C;
	margin: auto;
  	width: 400px;
}

#message:hover span {
	display: none; 
}

#message:hover:before {
	content: "Nobody gets through the band."; 
}

#infoBox {
	display: block; 
	margin: auto; 
	margin-top: 2em; 
	width: 85em;
	height: 45em; 
	border: 2px solid #FFC72C; 
	border-radius: 20px;
	
}

#vert {
	background: #FFC72C; 
	border: none; 
	height: 36em;  
	position: absolute; 
	top: 9.5em; 
	left: 50%; 
}

#horiz {
	background: #FFC72C; 
	border: 0.25px solid #FFC72C;
	width: 85em; 
	position: absolute; 
	top: 5em;
	left: 2.5em;  
}

#horiz2 {
	background: #FFC72C; 
	border: 0.25px solid #FFC72C;
	width: 85em; 
	position: absolute; 
	top: 8.5em;
	left: 2.5em;  
}